body {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 0 black;
    background-repeat: no-repeat;
    background-color: rgb(20, 80, 60);
    background-size: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5em;
    margin-top: 0;
    padding-top: 1em;
}

a {
    color: white;
}

.top {
    color: whitesmoke;
    background-image: url('../static/header1.jpg');
    text-shadow: 4px 4px 1px rgb(109, 9, 9);
    height: 10%;
    width: 100%;
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}

.start-form {
    padding: 1em;
    border-style: solid;
    border-width: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgb(109, 9, 9);
    border-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.start-form td,
.start-form th {
    padding: 5px;
}

.start-form td:nth-child(2),
.start-form td:nth-child(3) {
    text-align: center;
}

.start-form th {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.roundCounter {
    text-align: center;
}


.endRound {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.roundBtn {
    width: 6em;
    height: 4em;
    font-family: 'Josefin Sans', sans-serif;
}


.info {
    text-align: center;
    margin: 5px;
}

#report {
    color: rgb(109, 9, 9);
    text-shadow: 0px 0px 0 black;
}

.cards {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: inline-flex;
    padding-bottom: 2em;
}

.sCards {
    float: left;
    margin-right: 2em;
    text-align: center;
}

.rCards {
    float: right;
    margin-left: 2em;
    text-align: center;
}

.card {
    font-family: 'Josefin Sans', sans-serif;
    background-color: beige;
    border-color: white;
    border-width: 7px;
    border-radius: 8px;
    height: 2.5em;
    width: 1.8em;
    text-align: center;
    margin-bottom: 4px;
}

.card:hover {
    border-color: whitesmoke;
    text-shadow: 2px 2px 0 lightgray;
}

.button {
    margin: 2px;
    font-family: 'Josefin Sans',
        sans-serif;
    border-radius: 4px;
    background-color: white;
    color: rgb(109, 9, 9);
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(109, 9, 9);
}

.frame {
    margin: 2px;
    font-family: 'Josefin Sans',
        sans-serif;
    border-radius: 4px;
    color: white;
    background-color: rgb(109, 9, 9);
    padding: 10px;
    font-size: 16px;
    border: 2px solid white
}

.button:disabled {
    background-color: gray;
}

.button:disabled:hover {
    background-color: gray;
}

.button:hover {
    background-color: lightgray;
}

.alt-button {
    margin: 2px;
    font-family: 'Josefin Sans',
        sans-serif;
    border-radius: 4px;
    color: white;
    background-color: rgb(109, 9, 9);
    padding: 10px;
    font-size: 16px;
    border: 2px solid white
}

.alt-button:hover {
    background-color: rgb(77, 6, 6);
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    /* 15% from the top and centered */
    margin: 32% auto;
    /* Could be more or less, depending on screen size */
    width: 43%;
}